<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- এই পারমিশনটি PDF ফাইল সেভ করার জন্য যোগ করা হয়েছে (পুরানো অ্যান্ড্রয়েড ভার্সনের জন্য) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BCP Notebook"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCPNotebook">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BCPNotebook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>